@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin mainBtn ($color, $bg , $hoverColor, $hoverBg) {
    color: $color;
    border: 3px solid $hoverBg;
    background-color: $bg;
    transition: all 1s;
    &:hover{
        color: $hoverColor;
        background-color: $hoverBg;
    }
}

@mixin overlay($top , $color) {
    position: absolute;
    left: 0;
    top: $top;
    background-color: $color;
    width: 100%;
    height: 100%;
}